<!--
  Generated template for the FQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="black">
      <!-- <div *ngIf="plat.is('android')">
      <button ion-button  menuToggle (click)="about()">
          <ion-icon name="arrow-round-back"  ></ion-icon>
        </button>



      </div> -->

      <button  *ngIf="plat.is('android')" ion-button  menuToggle (click)="about()">
          <ion-icon name="arrow-round-back"  ></ion-icon>
        </button>



      <button  *ngIf="plat.is('ios')" ion-button  menuToggle (click)="about()">
          <ion-icon name="ios-arrow-back-outline"  ></ion-icon>ZiRRA
        </button>

        <ion-title> Frequently Asked Questions</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <ion-list>

    <ion-item text-wrap *ngFor="let que of questions">

      <p><b>Question:</b> {{que.question}}</p>
      <p><b>Answer:</b> {{que.answer}}</p>


    </ion-item>




  </ion-list> -->
  <div class="info">

  <h4>What is the purpose of ZiRRA?</h4>

  <p>ZiRRA aims to create an environment where you can feel confident and safe to report any cases of racism
      you experience or witness including racial discrimination.</p>


      <p>However, this reporting initiative does not aim to replace the existing reporting mechanism by preventing
          people from reporting cases at a local community anti-racism organization, Police Services or Human
          Rights Commission.</p>

          <h4>What can you report?</h4>

          <p>You can report any kind of racism, such as:</p>

          <ul>
            <li>Violence against you because of your race</li>
            <li>Racist graffiti</li>
            <li>Harassment on the street</li>
            <li>Racially motivated crime</li>
            <li>Racial abuse at a sporting event</li>
            <li>Refusal of or bad service in a shop because of your race</li>
            <li>Discrimination at work or school</li>
            <li>Complaints about how the police have treated you.</li>
          </ul>


          <p>You can make a report about racism in any area of public life about any person or organisation.</p>

          <h4>Who can make a report?</h4>

          <ul>
            <li>You can make a report via the mobile Application.</li>
            <li>You can call the enquiry line at the AKF (011 854 0082) and say you want to make a complaint
                through the Application should you need assistance</li>

          </ul>


          <p>You will not be turned away and you will receive support throughout the process and your report will be
              taken seriously.</p>


              <h4>Can I make the report anonymously?</h4>

              <p>You can report anonymously, or you can choose to be identified. It is up to you.</p>

              <p>Please NOTE that if you wish to make a formal complaint and require further assistance, we do need to
                  have your contact details.</p>


                  <h4>What is the value of Anonymous reports?</h4>

                  <p>If you choose to be anonymous, we will not attempt to contact you about the report unless we have
                      serious concerns about your safety. But your report will still be useful. We will read the report, look at
                      patterns or trends in all the reports of racism, and think about what we can do about them.</p>

                      <h4>Will my details be given to any service provider, e.g. police?</h4>

                      <p>We care about protecting the privacy of your personal information.</p>

                      <p>If you are making a report, you can find out everything you need to know about how we will collect, store
                          and use your personal information below.</p>

                          <p>A couple of important things to know are that:</p>

                          <ul>
                            <li>We will not attempt to contact you unless we have your permission or we have serious concerns
                                about your safety.</li>
                                <li>We will not disclose your personal information to anyone, including the police, without your
                                    permission (unless we have to by law).</li>
                          </ul>


                          <h4>How will we use your report?</h4>

                          <p>Depending on what you would like us to do, we will respond to your report in different ways.</p>

                          <p>If you report anonymously, we will not attempt to contact you unless we have serious concerns about
                              your safety. We will only use your de-identified report to collect general information about racism in
                              South Africa and to report on the scheme.</p>


                              <p>If you give us your contact details, we will contact you to discuss the options for dealing with your report.
                                  This could include giving you information about making a formal complaint to the Commission or any
                                  other relevant service provider.</p>


                                <p>If you are making a report as a witness or on a victim’s behalf, the AKF may attempt to contact the victim
                                    to notify them about the report. If your report contains personal information about somebody else, the
                                    AKF is obliged to take reasonable steps to let the person know that we have collected their personal
                                    information. However, the Commission will not attempt to notify a person who is mentioned in a report if
                                    this would pose a serious risk to anyone.</p>


                                    <h4>What if you or someone else is in danger?</h4>

                                    <p>ZiRRA is not monitored all the time. If your safety is in danger, we encourage you to contact Police
                                        Services or the ambulance service immediately.</p>


                                        <h4>Your privacy</h4>

                                        <p>The AKF and the reporting places are committed to protecting the privacy of your personal information.
                                            The AKF will deal with your personal information in accordance with its obligations under the Protection
                                            of Personal Information Act 2013. Essentially, this means that in most cases the AKF cannot disclose
                                            your personal information without your consent.</p>

                                            <h4>How we will store your report</h4>

                                            <p>The AKF has procedures in place to store and manage your personal information. The AKF will store
                                                your report in its secure electronic document management system. Your report will also be retained and
                                                destroyed accordingly.</p>

                                              </div>

</ion-content>
