<!--
  Generated template for the Report3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="black">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <form  [formGroup]="report" (ngSubmit)="formSubmit(report)">



      <ion-item>
          <ion-label>Type of Incident</ion-label>
          <ion-select formControlName="type">
              <ion-option text-wrap value="something written/posted">Written/posted or communicated publically including Social Media</ion-option>
              <ion-option value="harassment">Harassment</ion-option>
              <ion-option value="graffiti">Graffiti</ion-option>
              <ion-option value="physical harm">Physical Harm</ion-option>
              <ion-option value="verbal abuse">Verbal Abuse</ion-option>

          </ion-select>
        </ion-item>






        <!-- <ion-item>
            <ion-label floating >Nationality</ion-label>
            <ion-input type="text" formControlName="nationality"></ion-input>
            </ion-item> -->

            <ion-searchbar (ionInput)="getItems($event)"  autocomplete="on" formControlName="nationality" id="amount" [(ngModel)]="value" placeholder="Nationality"></ion-searchbar >

              <div *ngIf="showList === true">
            <ion-list>
              <ion-item *ngFor="let item of items " (click)="populate(item)" text-wrap>
                {{ item.name }}
              </ion-item>
            </ion-list>
          </div>






        <ion-item>
            <ion-label class="my-label">Demographic Group</ion-label>
            <ion-select formControlName="racial">
              <ion-option value="african">African</ion-option>
              <ion-option value="coloured">Coloured</ion-option>
              <ion-option value="indian">Indian</ion-option>
              <ion-option value="white">White</ion-option>
              <ion-option value="other">Other</ion-option>
            </ion-select>
          </ion-item>



          <ion-item>
              <ion-label class="my-label">Religion</ion-label>
              <ion-select formControlName="religion">
                <ion-option value="christian">Christian</ion-option>
                <ion-option value="hindu">Hindu</ion-option>
                <ion-option value="muslim">Muslim</ion-option>
                <ion-option value="jewish">Jewish</ion-option>
                <ion-option value="none">No religion</ion-option>
                <ion-option value="other">Other</ion-option>
                <ion-option value="prefer not to say">Prefer not to say</ion-option>
              </ion-select>
            </ion-item>



            <ion-item>
                <ion-label class="my-label">Gender</ion-label>
                <ion-select formControlName="gender">
                  <ion-option value="female">Female</ion-option>
                  <ion-option value="male">Male</ion-option>
                  <ion-option value="transgender">Transgender</ion-option>
                  <ion-option value="Prefer not to say">Prefer not to say </ion-option>
                </ion-select>
              </ion-item>






            <ion-item>
                <ion-label class="my-label">Age Group</ion-label>
                <ion-select formControlName="age">
                  <ion-option value="under 18">Under 18</ion-option>
                  <ion-option value="18-24">18-24</ion-option>
                  <ion-option value="25-34">25-34</ion-option>
                  <ion-option value="35-44">35-44</ion-option>
                  <ion-option value="45-54">45-54</ion-option>
                  <ion-option value="55-64">55-64</ion-option>
                  <ion-option value="65+">65 or Above</ion-option>
                </ion-select>
              </ion-item>





              <button ion-button block  type="submit" [disabled]="report.invalid" color="toolbar">Next</button>


  </form>

</ion-content>
