<!--
  Generated template for the Report2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="report" (ngSubmit)="formSubmit(report)" text-wrap>



          <ion-item>
            <ion-label class="my-label"> Incident Province</ion-label>
            <ion-select formControlName="province">
                <ion-option value="Eastern Cape">Eastern Cape</ion-option>
                <ion-option value="Free State">Free State</ion-option>
                <ion-option value="Gauteng">Gauteng</ion-option>
                <ion-option value="Mpumalanga">Mpumalanga</ion-option>
                <ion-option value="KwaZulu-Natal">KwaZulu-Natal</ion-option>
              <ion-option value="Northern Cape">Northern Cape</ion-option>
                <ion-option value="North West">North West</ion-option>
                      <ion-option value="Limpopo">Limpopo</ion-option>
                      <ion-option value="Western Cape">Western Cape</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
          <ion-label floating>Incident City</ion-label>
          <ion-input #myInput  formControlName="location" id="googlePlaces" ></ion-input>
      </ion-item>



      <ion-item  *ngIf="report.controls.location.invalid && report.controls.location.dirty" no-lines>
        <p>Please provide incident city</p>
      </ion-item>





            <ion-item>
            <ion-label floating>Date of Incident</ion-label>
            <ion-datetime  formControlName="date" displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY"  [max]="myDate" ></ion-datetime>
          </ion-item>

          <ion-item  *ngIf="report.controls.date.invalid && report.controls.date.dirty" no-lines>
            <p>Please provide date</p>
          </ion-item>

          <ion-item text-wrap>
            <ion-label floating>Describe Incident(What, Where, How, etc)</ion-label>
            <ion-textarea type="text" formControlName="description"></ion-textarea>
            </ion-item>

            <ion-item  *ngIf="report.controls.description.invalid && report.controls.description.dirty" no-lines>
              <p>Please provide description</p>
            </ion-item>





      <!-- <button ion-button  (click)="onFile()">Add File</button>


      <div *ngIf="stringUri">

      <p>{{stringUri}}</p>

      </div> -->
      <!-- <ion-row>
      <ion-item id="media" (click)=" takePicture()">

          <ion-icon name="md-aperture" icon-start></ion-icon>

            Pictures

      </ion-item>



      <ion-item id="media" (click)="startRecording()">

          <ion-icon name="md-camera" icon-start></ion-icon>

          Audio



      </ion-item>




      <ion-item id="media" click="recordVideo()">

          <ion-icon name="md-videocam" icon-start></ion-icon>

          Video


      </ion-item>-->




<!--
    <ion-row center>
      <ion-col col-6>


          <ion-item id="media"  (click)="upload('camera') " no-lines>




              <ion-icon name="md-aperture" icon-start></ion-icon>

                Picture

          </ion-item>
      </ion-col>

      <ion-col col-6>
          <ion-item id="media" (click)="upload('audio') "  no-lines>

              <ion-icon name="md-microphone" icon-start></ion-icon>

              Audio



          </ion-item>
      </ion-col>

    </ion-row> -->




    <ion-row center>


      <ion-col col-12>
        <ion-item id="media" (click)="onFile()"  no-lines>

            <ion-icon name="md-cloud-upload" icon-start></ion-icon>


            Upload File(Image/Audio/Video/Doc)


        </ion-item>

    </ion-col>
  </ion-row>


<!--
  <button ion-button  type="button" full (click)="onFile()" >Upload File(Picture,Audio,Video)</button> -->


    <!-- <button type="file" ng-model="file" ng-change="selectfile()">Upload File(Picture,Audio,Video)</button> -->


<!--
<button   ion-button block type="button"  color="toolbar" (click)="onView()">View Uploads</button> -->
<button  ion-button block type="submit" [disabled]="report.invalid" color="toolbar">Next</button>




      </form>

</ion-content>
